#flip-container{
  -webkit-perspective: 1000px;
  perspective: 1000px;
  padding: 10px;
  position: relative;
  margin: auto;
  width: 200px;
}
.card {
  position: relative;
  width: 250px;
  height: 300px;
  transition: 0.6s;
  transform-style: preserve-3d;
  transform-origin: 100% 150px;
  
}
.card:hover, .card.flip{
  transform: rotateX(180deg);
}
.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}
.front{
  transform: rotateX(0deg);
  z-index: 2;  
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.back{
  transform: rotateX(180deg);
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #330737;
  color: white;
  
}
.textStart{
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}
.button-start{
	float: center;
	align-items: center;
	margin-left: 2%;
	border-radius: 5px;
	color: white;
	background-color: #157771;
	border-radius: 10rem;
	border-width: 0px;
}
.color-text{
	color: #157771;
	font-size: 24px;
}
